body {
  background-image: url(../background.jpeg);
  font-family: "Poppins", sans-serif;
  color: #f3933d;
}
.App {
  margin-top: 200px;
}

h1 {
  line-height: 0;
  font-weight: bold;
  color: #fdf8d8;
}
footer,
footer a {
  text-align: center;
  color: #fdf8d8;
}
footer a:hover {
  color: #f3933d;
}
@media (max-width: 576px) {
  body {
    background-size: 500%;
  }
  h1 {
    margin-bottom: 30px;
  }
  .App {
    margin-top: 60px;
  }
  footer {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}
