body {
  background-image: url(../background.jpeg);
  font-family: "Poppins", sans-serif;
  color: #f3933d;
}
.App {
  margin-top: 160px;
}
h1 {
  line-height: 0;
  font-weight: bold;
}
footer {
  text-align: center;
}

footer a {
  color: #f3933d;
}

@media (max-width: 576px) {
  body {
    background-size: 500%;
  }
  h1 {
    margin-bottom: 30px;
  }
  .App {
    margin-top: 60px;
  }
  footer {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}
