body {
  background-image: url(../background.jpeg);
  font-family: "Poppins", sans-serif;
  color: #f3933d;
}
.App {
  margin-top: 200px;
}
h1 {
  line-height: 0;
  font-weight: bold;
}
footer {
  text-align: center;
}

@media (max-width: 576px) {
  body {
    background-size: 600%;
  }
  .App {
    margin-top: 90px;
    margin-bottom: 30px !important;
  }
  footer {
    font-size: 10;
  }
}
