.weather {
  padding: 0 !important;
}

.top-section {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 50px;
  max-width: 580px;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  border: none;
}
.current-location {
  margin-right: 10px;
}
.current-location:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.form-control {
  margin-right: 10px;
}
.units-button {
  font-size: 18px;
}
.units {
  border-radius: 27px;
  background: rgba(62, 166, 227, 0.6);
  border: none;
  box-shadow: 1px 1px 1px #212529;
  margin-right: 0;
}
.units:hover {
  background: rgb(62, 166, 227);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
