.Weather {
  padding: 0 !important;
}

.Weather .top-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 50px;
  max-width: 580px;
  background: #38385e;
  opacity: 0.8;
  border: none;
}

.Weather .form-control {
  margin-right: 15px;
}
.search {
  background: #f3933d;
}
form {
  width: 500px !important;
}

.display-weather {
  text-align: center;
}
h2 {
  font-size: 40px;
  line-height: 40px;
}
.Weather .date {
  font-size: 18px;
}
.Weather .description {
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 25px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.Weather .temperature {
  display: flex;
  justify-content: center;
}
.Weather .main-temperature {
  font-weight: normal;
  font-size: 70px;
  vertical-align: super;
  line-height: 48px;
  margin-right: -40px;
}

.Weather .units-symbol {
  position: relative;
  top: -45px;
  left: 40px;
  font-weight: 500;
  font-size: 20px;
}
.Weather li {
  list-style: none;
  font-size: 14px;
  text-align: start;
  margin-left: 5px;
}
.Weather .weather-icon {
  margin-top: 10px;
}

.Weather .wrap {
  justify-content: center;
}
.Weather .bottom-sections {
  margin: 10px 5px 10px 0px;
  border-radius: 50px;
  background: #38385e;
  opacity: 0.9;
  padding: 30px;
  height: 380px;
  width: 290px;
}
.Weather .forecast {
  display: flex;
  justify-content: center;
}
.Weather .forecast-column {
  float: right;
  display: inline;
  position: relative;
}
